{include file="admin/header"}

<title>Trung tâm quản trị</title>
<div class="container" style="margin-top: 1%">
    <div class="card border-dark">
        <h2 class="card-header">Trung tâm quản trị</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <b>Lượng người dùng:</b> {$user_count}
            <li class="list-group-item">
                <b>Số tài khoản:</b> {$account_count}
            </li>
            <li class="list-group-item">
                <b>Số trang được chia sẻ:</b> {$share_count}
            </li>
        </ul>
    </div>
</div>
{include file="user/footer"}
