{include file="user/header"}

<title>Thông tin cá nhân</title>
<div class="container" style="margin-top: 2%; width: auto;">
<div class="card border-dark">
    <h4 class="card-header bg-primary text-white text-center">Thông tin cá nhân</h4>
    <form action="" method="post" style="margin: 20px;">
        <div class="input-group mb-3">
            <span class="input-group-text" id="username">Tên tài khoản</span>
            <input type="text" class="form-control" name="username"
                   value="{$user->username}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="name">Mật khẩu</span>
            <input type="password" class="form-control" name="password" placeholder="Không sửa đổi vui lòng để trống">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="tg_bot_token">Telegram Bot Token</span>
            <input type="text" class="form-control" name="tg_bot_token" value="{$user->tg_bot_token}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="tg_chat_id">Telegram Chat ID</span>
            <input type="text" class="form-control" name="tg_chat_id" value="{$user->tg_chat_id}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="wx_pusher_id">WeChat Token</span>
            <input type="text" class="form-control" name="wx_pusher_id" value="{$user->wx_pusher_id}">
           
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="webhook">Webhook</span>
            <input type="text" class="form-control" name="webhook" autocomplete="off" value="{$user->webhook}">
        </div>
        <input type="submit" class="btn btn-primary" name="submit" value="Lưu">
    </form>
</div>
</div>
{include file="user/footer"}
