{include file="user/header"}

<div class="container" style="margin-top: 2%; width: auto;">
<div class="card border">
    <h2 class="card-header bg-primary text-white text-center">{$action=="add"?"Thêm proxy":"Sửa proxy"}</h2>
    <form action="" method="post" style="margin: 20px;">
        <div class="input-group mb-3">
            <span class="input-group-text" id="protocol">giao thức</span>
            <select class="form-select" name="protocol" aria-label="protocol">
                {volist name="protocols" id="protocol"}
                    <option value="{$protocol}" {$proxy->protocol==$protocol?"selected":""}>{$protocol}</option>
                {/volist}
            </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="password">nội dung</span>
            <input type="text" class="form-control" name="content" required autocomplete="off"
                   value="{$proxy->content}" placeholder="IP:prot">
        </div>
        {if $action=="edit"}
            <div class="input-group mb-3">
                <span class="input-group-text" id="last_use">sử dụng lần cuối</span>
                <input type="text" class="form-control" disabled value="{$proxy->last_use}">
            </div>
        {/if}
        <div class="input-group mb-3">
            <div class='form-check form-switch'>cho phép
                <input type="checkbox" class="form-check-input" name="status" {$proxy->status?"checked":""}>
            </div>
        </div>
        <input type="hidden" name="action" value="{$action}">
        <input type="submit" name="submit" class="btn btn-primary btn-block" value="{$action=="add"?"Thêm vào":"Lưu"}">
    </form>
</div>
</div>
{include file="user/footer"}
